body {
    background-color: #0a0a0a;
    margin: 0px;
    font-family: "Griffy", "Lato", sans-serif system-ui;
   
}


header {
    color: rgb(165, 165, 61);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(165, 165, 61);
    margin: 2px;
   
}
div.botoes-de-navegacao {
    margin: 25px;
    padding: 2px;
    display: flex;
    gap: 15px;
    margin-right: 320px;
    cursor: pointer;
}
div.botoes-de-navegacao:active{
    color: antiquewhite;
}
div.nome-da-pagina{
    display: flex;
    width: 10px;
}
div.texto-inicial{
    margin-left: 30px;
    margin-top: 10px;
    
}
img.logo {
    width: 90px;
    height: 90px;
    margin-top: 15px;
    
}
h1.titulo {
    font-family: "Griffy", system-ui;
}
h1 {
    color: rgb(165, 165, 61);
}
h2 {
    color: rgb(207, 207, 203);
}
p {
    color: rgb(207, 207, 203);
}
h1.topo-inicio {
    font-size: x-large;
    border-bottom: none;
    
}

button {
    border-radius: 15px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: rgb(165, 165, 61) ;
    border: 5px;
    padding: 7px;
    margin-top: 15px;
   
}
button:hover {
    background-color: rgb(185, 138, 8) ;
    transition: 0.3s;
    transform: scale(1.1);
}
button:active {
    transform: scale(1);
    background-color: rgb(99, 99, 86) ;
}

div.textinho {
    color: rgb(207, 207, 203);
    width: 300px;
}

div.Fotos {
    position: relative;
    justify-content: center;
    
}
img.A {
    position: relative;
    transform: rotate(-25deg);
    width: 150px;
    left: 20px;
}
img.B {
    position: relative;
    width: 130px;
    right: 20px;
}
img.C {
    position: relative;
    width: 130px;
    right: 70px;
    transform: rotate(25deg);
    top: 25px;
}
div.parte-lateral-direita {
    display: flex;
}

div.parte-principal {
    display: flex;
    justify-content: space-between;
    
}

div.parte-atributos-lateral-esquerda-personagem {
    width: 450px;
    margin-left: 200px ;
    margin-top: 75px;
    
}
div.parte-atributos-personagem {
    display: flex;
    justify-content: space-between;
}

img.img-atributos {
    position: relative;
    width: 430px;
    right: 50px;
}

input.forca {
    position: relative;
    left: -415px;
    top: -248px;
}
input.atributos {
    text-align: center;
    border: 0px;
    background-color: #0a0a0a;
    width: 25px;
    outline: #0a0a0a;
    border-bottom: 1px solid rgb(245, 245, 243);
    padding: 1px;
    font-size: xx-large;
    font-weight: 500;
    color: rgb(229, 230, 231);
}

input.agilidade {
    position: relative;
    left: -312px;
    top: -340px;
}
input.vigor {
    position: relative;
    left: -322px;
    top: -89px;
}
input.intelecto {
    position: relative;
    left: -209px;
    top: -249px;
}
input.presenca {
    position: relative;
    left: -467px;
    top: -89px;
    
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

div.navegacao-personagem {
    display: flex;
    align-items: center;
    margin-left: 190px;
    
}

div.etapa {
    display: flex;
    align-items: center;
}
div.linha{
    width: 80px;
    height: 2px;
    background: rgb(231,231,224);
    margin: 0 20px;
}
div.etapa:hover {
    cursor: pointer;
}
h1.clicavel-personagem:active {
    color: azure;
}
div.Origem {
    display: flex;
    flex-direction: column;
    
}
div.texto-origem-explicativo {
    font-size: large;
    width: 750px;
    justify-content: center;
    margin-left: 280px;
    
    
}
div.origens-escolher {
    
    display: flex;
    justify-content: center;
    width: 55%;
    flex-direction: column;
    margin-left: 280px;
    
}

div.card-origem {
    background-color: rgb(44, 42, 42);
    
    border-radius: 3px;
    border-color: rgb(44, 42, 42);
    padding: 9px;
    margin: 7px;
    cursor: pointer;
    
}
h2.origem-card {
    margin-top: 16px;
    font-size:larger;
    margin-left: 15px;
    font-weight:900;
}
div.Origem {
    display: none;
}
div.detalhes-origem {
    display: none;
    
}
div.card-origem.aberto div.detalhes-origem{
    background-color:rgb(44, 42, 42) ;
    width: 100%;
    font-size: medium;
    display: block;
}
button.escolher-origem {
    border-radius: 2px;
}
button.botao-criar-agente {
    border-radius: 2px;
}
div.lado-direito-agentes{
    display: flex;
    margin-left: 90%;
    margin-top: 10px;
    
}
h3.guia-do-site {
   color: rgb(207, 207, 203);
   width: 250px;
}
div.classes {
    flex-direction: column;
    
    
}
div.texto-explicativo-classes {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: 250px;
}

div.classes {
    display: none;
}
button.mundano {
    border-radius: 2px
}
div.pai-card-classes h1{
    background-color: rgb(44, 42, 42);
    width: 300px;
    height: 500px;
    
    
}
div.pai-card-classes {
    display: flex;
    justify-content: center;
    gap: 10px;

}

